:root{
    --primary-color:grey;
    --text-color:black;
    --text-light:lightgrey;
    --max-width:1200px;
    --header-font:"Lora", serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.section-container{
    max-width:var(--max-width);
    margin:auto;
    padding:5rem 1rem;

}
.section-header{
    margin-bottom:1rem;
    font-size:2.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color:var(--text-dark);
}
.section-subheader{
    color:var(--text-light);
}
.btn{
    padding:.75rem 2rem;
    font-size:1rem;
    color:white;
    background-color: var(--primary-color);
    border-radius:5rem;
    cursor:pointer;
    transition: 0.3s;


}
.btn:hover{
    background-color: var(--text-dark);

}
img{
    display: flex;
    width:100%;

}
a{
    text-decoration: none;
}
header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.8), rgba(0,0,0,0.2)),url(header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    

}
nav{
    max-width: var(--max-width);
    margin:auto;
    padding:2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    flex:1;
}
.nav-logo a{
font-size: 1.5rem;
font-weight: 600;
font-family: var(--header-font);
color:white;
}
.nav-links{
    display: flex;
    align-items: center;
    gap:2rem;
    padding-right:1rem;
}
.link a{
    position: relative;
    padding:10px 0;
    color:white;
    transition: .3s;
}
.link a::after{
position: absolute;
content:"";
bottom:0;
left:50%;
transform: translateX(-50%);
height:2px;
width:0;
background-color: white;
transition: 0.3s;
}
.link a:hover::after{
    width:100%;
    }

.nav-menu{
        display: flex;
        font-size: 1.5rem;
        color:white;
    }

    .nav-actions{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:2rem
    }
    .nav-actions span{
        font-size: 1.2rem;
        color:white;
        cursor:pointer;
    }

.header-container h1{
    margin-bottom:1rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: white;
    margin-right:10rem;
    margin-left:10rem;
    text-align: center;

}
.header-container p{
    max-width:600px;
    margin-inline:auto;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: white;
}
.header-container form{
    width:30%;
    border-color: white;
    border-radius: 2rem;
   
    margin-inline: auto;
    margin-bottom: 4rem;
    padding-block: .25rem;
    padding-inline: 1.25rem .25rem;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
}
.header-container input{
    width: 100%;
     outline: none;
     border: none;
     font-size: 1rem;
     color:white;
     background-color: transparent;
    
 }
 .header-container input::placeholder{
    color: white;
 }
.header-container button{
    padding:11px 12px;
    font-size: 1.25rem;
    outline:0;
    color:white;
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    
}

.header-container  a{
    display: inline-block;
    padding-left:.5rem;
    padding-right:.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    font-size: 2rem;
    color:white;
    backdrop-filter:blur(10px);
    border:1px solid white;
    border-radius: 100%;
    transform: translateX(38rem) translateY(-3rem);
}
.choose-container .choose-grid{
    position: relative;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    align-items: center;
    
}

.choose-card span{
    display: inline-block;
    margin-bottom: .5rem;
    padding:5px 10px;
    font-size:1.25rem;
    background-color: whitesmoke;
    border-radius: 100%;
}
.choose-card h4{
    margin-bottom: 1rem;
    font-size:1rem;
    font-weight: 600;
    color: var(--text-dark);
    font-family: var(--header-font);

}
.choose-card p{
    color:var(--text-light)

}
.choose-img img{
    max-width: 500px;margin:auto;
    border-radius: 10px;
    box-shadow:5px 5px 20px rgba(0,0,0,0.7);
    width:30%;
    transform: translateX(48rem) translateY(-25rem);


       

}
.choose-container .choose-bg{
position: absolute;
top:36rem;
left:50%;
transform: translateX(17rem) translateY(.5rem);
width: 300px;
opacity: 0.4;
z-index:-1
}
.choose-container {
    display: flex;
    flex-wrap: wrap;
}

.choose-content {
    width: 50%;

}

.choose-grid {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.choose-card {
    width: 50%;
    padding: 0 10px;
    
    padding-top: 1rem;
}


.offer-grid-top{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    margin-left: 2rem;
}
.offer-grid-bottom{
    grid-column:2/4;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    margin-right:2rem
}
.offer-container{
    padding-block:5rem;
    display:grid;
    grid-template-columns: minmax(0,1fr)  minmax(0,var(--max-width))  minmax(0,1fr);
     row-gap:2rem;
}
.offer-container img{
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.offer-content{
padding-right:1rem;

}
.offer-content .section-subheader{
    margin-bottom:2rem;

}
.btn{
    border: none;
    background-color:black;
    transition: .4s ease;
}
.btn:hover{
    background-color: white;
    color:black;
    
}
.craft-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    align-items: center;
}
.craft-container .section-subheader{
    margin-bottom: 2rem;
}
.craft-img{
    position: relative;
    isolation: isolate;
}
.craft-img::before{
    position: absolute;
    content:"";
    bottom:0;
    left:0;
    width:100%;
    height:50%;
    background-color:lightcyan;
    border-radius: 15px;
    transition: 0.3s;
    z-index:-1;
}
.craft-img:hover::before{
    height:80%;

}
.craft-img-content{
padding-bottom:2rem;
text-align: center;
transition: 0.3s;
}
.craft-img-content{
    margin-bottom: 1rem;
    max-width: 250px;
    margin:auto;

}
.craft-img-content p{
font-size: 1rem;
font-weight: 500;
color:var(--text-dark)
}
.craft-img-content h4{
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--text-dark);
}
.craft-img:hover .craft-img-content{
    transform: translateY(-2rem);
}
.craft-img a{
    position:absolute;
    left:50%;
    bottom:9px;
    transform: translate(-50%, 60%);
    padding:0 7px;
    font-size: 1.75rem;
    background-color: var(--primary-color);
    border-radius: 98%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    opacity: 0;
    transition: 0.3s;
    color:white;
    background-color: black;
}
.craft-img:hover a{
opacity: 1;
}
.modern-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}
.modern-img{
    position: relative;
    width:100%;
    max-width:600px;
    height: 100%;
    min-height:470px;
    margin:auto;
}
.modern-bg{
position: absolute;
max-width:200px;
right:-.5rem;

top:-4rem;
opacity: 0.5;
}
.modern-img-1,.modern-img-2,.modern-img-3{
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.modern-img-1{
    max-width: 375px;

}
.modern-img-2{
    max-width: 175px;
    right:0;
}
.modern-img-3{
    max-width: 250px;
    right:0;
    bottom:-2rem;
}
.modern-grid{
    margin-block:2rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}
.modern-card{
    display:flex;
    gap:1rem;
}
.modern-card span{
    font-size: 0.8rem;
    font-weight: 800;
    color:var(--text-dark);
}
.modern-card p{
    color: var(--primary-color);
}
.testimonial-container .section-header{
    text-align: center;
}
.swiper{
    margin-top: 2rem;
    padding-bottom:2rem;
    width:100%;
}
.testimonial-card{
    max-width:900px;
    margin:auto;
    padding:1rem;
    text-align: center;
}
.testimonial-card p{
    margin-bottom:1rem;
    font-size: 1.1rem;
    color:var(--text-dark);
}
.testimonial-card img{
    max-width: 60px;
    margin-inline: auto;
    margin-bottom:1rem;
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.testimonial-card h4{
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--text-dark)
}
.testimonial-card h5{
    font-size: 1rem;
    font-weight: 500;
    color:var(--text-light);
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.blog-container {
    text-align: center; /* Center aligning the content */
}

.blog-grid {
    margin-top: 4rem;
    display: flex; 
    justify-content: center; 
    gap: 2rem; 
}

.blog-card {
    width: 300px; /* Fixed width for each card */
}

.blog-card img {
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.blog-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.blog-card p {
    font-weight: 500;
    color: var(--text-dark);
}

.blog-card p span {
    font-weight: 400;
    font-style: italic;
    color: var(--text-light);
}
.footer{
    background-color:rgb(25, 22, 22);

}

.footer-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5rem;
    align-items: center;
    border-bottom:1px solid white ;
    margin-left: 2rem;
    margin-right:2rem;

}
.footer-content h4{
    margin-bottom:1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height:2.5rem;
    
    margin-left:2rem ;
    color:white;
    margin-top: 1rem;

}
.footer-content p{
    color:white;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.footer-form form{
    width:98%;
    max-width:600px;
    margin-inline:auto;
    padding:5px;
    display:flex;
    align-items:center;
    gap:1rem;
    background-color: white;
    border-radius: 10px;

}
.footer-form input{
    width:100%;
    padding:0 1rem;
    outline:none;
    border:none;
    font-size: 1rem;
    
}
.footer-form button{
    padding:1rem 1.5rem;
    outline:none;
    border:none;
    font-size: 1.2rem;
    color:white;
    background-color: rgb(25, 22, 22);
    border-radius: 5px;
}

.footer-bar{
    padding-block:2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    

}
.footer-logo h4 a{
    font-size:1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color:white;
}
.footer-logo p{
    margin-top: 5px;
    font-size: .8rem;
    color:white;
}
.footer-nav{
    display:flex;
    align-items: center;
    gap:2rem;
    
}
.footer-link a{
    font-weight: 500;
    color:white;
    white-space: nowrap;
     
}
